<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">
	
	<menuitem title="GST" name="gst-root" if="__config__.app.isApp('gst')"/>
	<menuitem title="People" name="gst-root-gst" parent="gst-root" action="action-gst-root-gst"/>
	<action-view name="action-gst-root-gst" title="People" model="com.axelor.gst.db.People">
		<view type="grid"/>
		<view type="form"/>
	</action-view>  

</object-views>